.menuContainer {
	width: 100%;
	background: rgba(233, 233, 233, 0.1);
}

.menuContainer {
	width: 100%;
	background-color: #000;
}

.mobileMenu {
	@apply px-2 py-2;
	background-color: rgba(0, 0, 0, 0.8);
}

.menuInner {
	@apply py-4;

	@screen tablet {
		justify-content: flex-start;
	}
}

.logo {
	@apply relative;
}

.logoText {
	@apply text-white font-semibold font-heading text-xl;
}

.gradientText {
	@apply text-transparent bg-clip-text text-3xl mr-2;
	background-image: linear-gradient(to right, #8a2387, #e94057, #f27121);
}

.menuLink {
	@apply text-white hover:text-gray px-4 py-2 text-2xl transition-all;
}

.menuToggle {
	@apply text-white hover:text-gray focus:outline-none;
}

.mobileMenuContainer {
	@apply block tablet:hidden;
}

.mobileMenu {
	@apply px-2 pt-2 pb-3 space-y-1 phone:px-3;
}
.menuIcons {
	margin-left: auto;
}
